body {
    font-family: "Roboto" , "sans-serif";
    font-size: 16px;
    color: #888;
    overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: block;
    width: 10px;
    border-radius: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $mainBlue; 
}


img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
}