.primary-nav {
    padding-top: 10px;
    overflow: hidden;
    z-index: 10;

    @mixin atMedium {
        padding-top: 0;
    }

    &--pull-right {
        @mixin atMedium {
            float: right;
        }
    } 

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li{
        list-style: none;
        display: inline-block;
        padding-right: 4px;

        @mixin atMedium {
            padding-right: 20px;
            float: left;
            display: block;
        }


    }

    li:last-child {
        padding-right: 0;
        @mixin atMedium {
            padding-right: 20px;
        }
    }
    
    a {
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        display: block;
        padding: 10px 4px;
        margin-top: 10px;
        font-size: .95rem;
        background-color: rgba($mainBlue, .8);
        
        
        @mixin atMedium {
            margin-top: 0;
            padding: 12px 0;
            font-size: 1rem;
            background-color: transparent;

        }
    }
}