.site-header {
    padding: 10px 0;
    position: absolute;
    z-index: 6;
    width: 100%;
    transition: all .5s ease-in-out;
    
    @mixin atMedium {
        position: fixed;
        background-color: rgba($mainBlue, .4);
        
        &__dark {
            background-color: rgba(31, 67, 117, 0.808);
            padding: 1px 0;
        }

        &__hide {
            transform: translateY(-100%);
        }

    }

    &--is-extended {
        background-color: rgba($mainBlue, .4);
    }

    &__btn-container {
        @mixin atMedium {
            float: right;
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(.8);
        transform-origin: 50% 0;
        background-color: $mainBlue;
        padding: 25px 36px;
        transition: transform .5s ease-in-out;
        
        @mixin atMedium {
            left: auto;
            transform: translateX(0);

            .site-header__dark & {
                transform: scale(.39);
            }

        }
    }

    &__logo__graphic {
        text-indent: -99999px;
    }

    &__menu-icon {
        z-index: 10;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        
        &::before,
        &__middle,
        &::after {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 4px;
            background-color: #fff;
            transform-origin: 0 0;
            transition: all .5s ease-in-out;
            
        }
        
        &__middle {
            top: 8px;
            transform-origin: 0 50% ;
            transition: all .5s ease-in-out;
        }
        
        &::after {
            top: 16px;
            transform-origin: 0 100% ;
            transition: all .5s ease-in-out;
        }


        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scale(1.414) translateY(-2px);

        }

        .site-header__menu-icon__middle {
            transform: scaleX(0);

        }

        &::after {
            transform: rotate(-45deg) scale(1.414) translateY(2px);

        }

    }


    &__menu-content {
        opacity: 0;
        z-index: -10;
        padding-top: 90px;
        text-align: center;
        transform: scale(1.2);
        transition: all .5s ease-in-out;
        
        @mixin atMedium {
            transform: scale(1);
            padding-top: 0;
            opacity: 1;
            z-index: 11;


        }
        
        &--is-visible {
            transform: scale(1);
            opacity: 1;
            z-index: 1;
        }
    }

}