/* Do not change the temp file modules/_sprites directly as it generated automatically by Gulp.
Instead edit gulp/templates/sprite  */

    .icon {
        background-image: url('../../assets/images/sprites/sprite-ad8076f3.svg');
        display: block;
    }
    .no-svg .icon {
        background-image: url('../../assets/images/sprites/sprite-ad8076f3.png');
    }
    .icon--clear-view-escapes {
        width: 146.4px;
        height: 63.53px;
        background-position: 0 0;
    }
    .icon--comment {
        width: 68px;
        height: 68px;
        background-position: 82.23107569721115% 0;
    }
    .icon--facebook {
        width: 25.23px;
        height: 46.01px;
        background-position: 49.834904857541616% 34.00170008500425%;
    }
    .icon--fire {
        width: 60px;
        height: 68px;
        background-position: 56.52509652509652% 0;
    }
    .icon--globe {
        width: 68px;
        height: 68px;
        background-position: 0 73.8932584269663%;
    }
    .icon--instagram {
        width: 46.01px;
        height: 46.01px;
        background-position: 75.60716509762263% 57.03285164258212%;
    }
    .icon--mail {
        width: 68px;
        height: 52px;
        background-position: 54.18326693227092% 67.79896907216495%;
    }
    .icon--rain {
        width: 68px;
        height: 68px;
        background-position: 0 35.69101123595506%;
    }
    .icon--star {
        width: 68px;
        height: 68px;
        background-position: 27.09163346613546% 73.8932584269663%;
    }
    .icon--taiwan {
        width: 43.91px;
        height: 43.91px;
        background-position: 99.74917299792793% 0;
    }
    .icon--twitter {
        width: 55.78px;
        height: 46.06px;
        background-position: 78.41349441531797% 34.01020306091828%;
    }
    .icon--united-states-of-america {
        width: 44px;
        height: 43.9px;
        background-position: 14.090909090909092% 98.72835230084117%;
    }
    .icon--wifi {
        width: 64px;
        height: 68px;
        background-position: 26.666666666666668% 35.69101123595506%;
    }
    .icon--youtube {
        width: 38.75px;
        height: 46px;
        background-position: 0 99.765%;
    }
  